{% extends 'base.html.twig' %}

{% block title %}UMAMI API - Home{% endblock %}

{% block body %}


<main class="mt-5">
    <img src="{{ asset('img/umami-api.png') }}" class="rounded mx-auto d-block"  width="500px" height="300px"  alt="login"/>

    <div class="jumbotron">
        <section class="text-center">
            <h4 class="mb-5"><strong>Une API sympa pour les chef cuisiniers en devenir</strong></h4>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                                Vous pourrez tester toutes les routes !
                            </p>
                            <a href="#!" class="btn btn-danger">API</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                                Accéder au Panel admin
                            </p>
                            <a href="#!" class="btn btn-danger">Admin</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                               Créer et connecter un User
                            </p>
                            <a href="" class="btn btn-danger">Inscription</a>
                        </div>
                    </div>
                </div>
            </div>



</main>


{% endblock %}
